* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    height: 600px;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 20px;
}

.c1 {
    width: 150px;
    height: 150px;
    background-color: rgb(235, 36, 10);
    border-radius: 150px;
    box-shadow: 0 0 20px red;
}

.c2 {
    width: 150px;
    height: 150px;
    background-color: rgb(252, 216, 12);
    border-radius: 150px;
    box-shadow: 0 0 20px rgb(243, 207, 2);
}
.c3 {
    width: 150px;
    height: 150px;
    background-color: rgb(100, 252, 12);
    border-radius: 150px;
    box-shadow: 0 0 20px rgb(113, 243, 7);
}



