* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.c1 {
    width: 150px;
    height: 150px;
    background-color: rgb(235, 36, 10);
    border-radius: 150px;
}

.c2 {
    width: 150px;
    height: 150px;
    background-color: rgb(252, 216, 12);
    border-radius: 150px;
}
.c3 {
    width: 150px;
    height: 150px;
    background-color: rgb(100, 252, 12);
    border-radius: 150px;
}



