* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quadrados {
    width: 150px;
    height: 150px;
    background-color: rgb(8, 240, 0);
}

.quadrados2 {
    width: 150px;
    height: 150px;
    background-color: rgb(144, 12, 252);
}
